@import "../_colors.scss";
@import "../_variables.scss";
@import "../_mixinis.scss";

$base-padding: 20px;
$left-mobile-padding: 76px;

.header {
  background: $light-grey;
  min-height: 76px;
}

.header__menu {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.header__menu.header__menu--expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__menu-toggle {
  position: absolute;
  top: 15px;
  right: 20px;

  display: flex;

  width: 50px;
  height: 50px;
  padding: 10px;

  text-align: center;
  vertical-align: middle;

  color: black;
  border: none;
  background: transparent;

  justify-content: center;
  align-items: center;

  &:hover svg {
    color: $green;
  }
}

.header__toggle-close { display: none; }

.header__menu--expanded .header__toggle-open {
  display: none;
}

.header__menu--expanded .header__toggle-close,
.header__menu--expanded .header__menu-item {
  display:  inline-block;
}

.header__menu-item {
  display: none;
  background: white;
  border-bottom: $border;
}

.header__menu-item--logo { display: block; }

.header__menu-item--tablet,
.header__menu-item--desktop,
.header__menu--expanded .header__menu-item--tablet,
.header__menu--expanded .header__menu-item--desktop {
  display: none;
}

.header__menu-link,
.header__menu-text {
  font-size: 17px;
  font-weight: bold;
  line-height: 38px;

  display: block;

  padding: $base-padding;
  padding-left: $left-mobile-padding;

  text-decoration: none;

  color: black;
}

.header__menu-link {
  &:hover { opacity: .6; }
  &:active { opacity: .3; }
}

.header__menu-text { font-weight: 400; }

.header__menu-link--logo {
  padding-left: $base-padding;
  text-align: center;
}

.header__logo {
  display: none;
  line-height: 1em;
}

.header__logo--mobile { display: block; }

.header__search-icon { display: none; }

@media (min-width: $tablet-width) {
  $outside-padding: 50px;

  .header,
  .header__menu-item {
    background: white;
  }

  .header__menu {
    position: static;
    flex-direction: row;
  }

  .header__menu-item { border: none; }

  .header__menu-item,
  .header__menu-item--tablet,
  .header__menu--expanded .header__menu-item,
  .header__menu--expanded .header__menu-item--tablet {
    display: inline-block;
    vertical-align: top;
  }

  .header__menu-item--desktop,
  .header__menu--expanded .header__menu-item--desktop {
    display: none;
  }

  .header__menu-item--logo { order: 1; }
  .header__menu-item--catalog { order: 4; }
  .header__menu-item--order { order: 5; }
  .header__menu-item--search { order: 2; }
  .header__menu-item--cart { order: 3; }
  .header__menu-item--shiping { order: 6; }

  .header__menu-item--catalog,
  .header__menu-item--order,
  .header__menu-item--shiping {
    background: $light-grey;
    border-top: $border;
  }

  .catalog-page-body,
  .form-page-body {
      & .header__menu-item--catalog,
      & .header__menu-item--order,
      & .header__menu-item--shiping {
        background: $mid-light-grey;
      }
  }

  .header__menu-item--logo {
    min-width: 370px;
    width: calc(100% - 397px);
    padding: 0;
  }

  .header__menu-toggle { display: none; }

  .header__menu-item--search {
    border-left: $border;
    border-right: $border;

    @include icon-hover;
  }

  .header__menu-item--shiping { flex-grow: 2; }

  .header__menu-link,
  .header__menu-text {
  	padding: 25px 20px;
  }

  .header__menu-link--logo {
    padding: 22px 209px 18px 48px;
    text-align: left;
  }

  .header__logo--mobile { display: none; }
  .header__logo--tablet { display: block; }

  .header__menu-link--search {
    width: 82px;
    padding: 35px 20px;
  }

  .header__menu-link--search span {
    @include visually-hidden;
  }

  .header__search-icon {
    display: block;
    margin: 0 auto;
  }

  .header__menu-link--cart {
    padding-left: 80px;
    padding-right: $outside-padding;
  }

  .header__menu-link--catalog,
  .header__menu-link--order,
  .header__menu-text--shiping {
    display: block;
    padding: 11px 18px;
    font-size: 15px;
  }

  .header__menu-link--catalog {
    padding-left: $outside-padding;
  }

  .header__menu-text--shiping {
    padding-right: $outside-padding;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  $top-inner-blocks-width: 600px;
  $top-left-outer: 234px;
  $top-right-outer: 316px;

  @mixin top-left-block-width {
    width: calc((100% - #{$desktop-width}) / 2 + #{$top-left-outer});
    text-align: right;

    & .header__menu-link { justify-content: flex-end; }
  }

  @mixin top-right-block-width {
    width: calc((100% - #{$desktop-width}) / 2 + #{$top-right-outer});

    & .header__menu-link { justify-content: flex-start; }
  }

  .header__logo--tablet {
    display: none;
  }

  .header__logo--desktop {
    display: block;
  }

  .header__menu-item--desktop,
  .header__menu--expanded .header__menu-item--desktop {
    display: inline-block;
  }

  .header__menu-item--logo { order: 3; }
  .header__menu-item--catalog { order: 1; }
  .header__menu-item--order { order: 2; }
  .header__menu-item--search { order: 4; }
  .header__menu-item--cart { order: 5; }
  .header__menu-item--shiping { order: 8; }
  .header__menu-item--new { order: 6; }
  .header__menu-item--sale { order: 7; }

  .header__menu-item--sale { width: $top-inner-blocks-width; }

  .header__menu-item--catalog,
  .header__menu-item--new {
    @include top-left-block-width;
  }

  .header__menu-item--cart,
  .header__menu-item--shiping {
    @include top-right-block-width;
  }

  .header__menu-item--logo,
  .header__menu-item--catalog,
  .header__menu-item--order,
  .header__menu-item--search,
  .header__menu-item--cart,
  .catalog-page-body .header__menu-item--catalog,
  .catalog-page-body .header__menu-item--order,
  .form-page-body .header__menu-item--catalog,
  .form-page-body .header__menu-item--order {
    background: white;
    border: none;
    font-size: 17px;
  }

  .header__menu-item--order,
  .header__menu-item--search {
    border-left: $border;
  }

  .header__menu-item--order { width: 228px; }
  .header__menu-item--search { border-right: $border; }

  .catalog-page-body,
  .form-page-body {
    & .header__menu-item--shiping,
    & .header__menu-item--new,
    & .header__menu-item--sale {
      background: $mid-light-grey;
    }
  }

  .header__menu-item--shiping,
  .header__menu-item--new,
  .header__menu-item--sale {
    background: $light-grey;
    border-top: $border;
  }

  .header__menu-link--logo,
  .header__menu-link--catalog,
  .header__menu-link--order,
  .header__menu-link--search {
    font-size: 17px;
    line-height: 38px;
  }

  .header__menu-link--catalog,
  .header__menu-link--order {
    padding: 25px 35px;
  }

  .header__menu-link--search {
    padding: 35px 20px;
  }

  .header__menu-text--shiping,
  .header__menu-link--new,
  .header__menu-link--sale  {
    padding: 11px 25px;
    font-size: 15px;
  }

  .header__menu-text--shiping { justify-content: flex-start; }

  .header__menu-link--catalog,
  .header__menu-link--new {
    padding-left: $outside-padding;
  }

  .header__menu-link--sale {
    padding-left: 37px;
  }

  .header__menu-item--logo {
    min-width: 150px;
    width: auto;
  }

  .header__menu-link--logo {
    padding: 9px 99px 0 40px;
  }

  .header__menu-link--cart {
    padding: 25px $outside-padding 25px 83px;
  }

  .header__menu-text--shiping {
  	padding-left: 35px;
  	text-align: left;
  }
}
