@import "./_colors.scss";
@import "./_variables.scss";
@import "./_mixinis.scss";

.index-title {
  background: $light-grey url('/img/hero-mobile.jpg') no-repeat 50% 20%;
}

.index-title__title-text {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  min-height: 283px;
  margin: 0;
  padding: $mobile-outside-padding;
  padding-top: 76px;

  text-align: center;

  color: #010000;
  border-top: $border;
}

.index-title__feature {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  display: block;
  display: flex;

  padding: 20px 36px;

  vertical-align: top;
  text-decoration: none;

  color: white;
  background-color: $green;

  justify-content: space-between;
  align-items: center;

  &:nth-of-type(2) { background-color: $mid-green; }

  &:hover { transform: translateY(-5px); }
  &:active * { opacity: 0.3; }
}

@media (min-width: $tablet-width) {
  .index-title {
    position: relative;

    padding-bottom: 12px;

    background-image: url('/img/hero-desktop-jpg.jpg');
    background-position: 50% 50%;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 34px;

      content: '';

      background: transparent url('/img/bg-zigzag-fill.svg') repeat-x;    }
  }

  .index-title__features { display: flex; }

  .index-title__title-text {
    font-size: 43px;
    line-height: 50px;
    padding: 90px 135px 371px;
    border-top: none;
  }

  .index-title__features {
    width: 668px;
    margin: 0 auto;
  }

  .index-title__feature {
    font-size: 20px;
    line-height: 30px;

    width: 50%;
    padding-bottom: 47px;

    & span { max-width: 120px; }
  }
}

@media (min-width: $desktop-width) {
  .index-title__title-text {
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;

    padding-right: 268px;
    padding-bottom: 354px;
    padding-left: 268px;
  }

  .index-title__features {
    width: 1050px;
  }
}
