@import "./_colors.scss";
@import "./_variables.scss";
@import "./_mixinis.scss";

.catalog-page-header {
  background: $mid-light-grey;
  text-align: center;
  position: relative;
}

.catalog-page-header .container {
  padding: 70px $mobile-outside-padding - 6px;
}

.catalog-page-header__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog-page-header {
      @include zig-zag-fill-border;
  }

  .catalog-page-header .container {
    padding-top: 33px;
    padding-bottom: 100px;
  }
  .catalog-page-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page-header__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 120px;
  }
}
