.index-hit
  .container
    .index-hit__titles
      h2.index-hit__title Вязаные корзинки
      h3.index-hit__subtitle ТОВАР НЕДЕЛИ
    .index-hit__content
      p.index-hit__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
      table.index-hit__table
        tr
          td Цвет:
          td «Тиффани»/серый
        tr
          td Диаметр:
          td 25 см
        tr
          td Высота:
          td 15 см
      picture.index-hit__image
        source(srcset="/img/catalog/triple-set-mobile@1x.jpg, /img/catalog/triple-set-mobile@2x.jpg 2x" media="(max-width: 767px)")
        source(srcset="/img/catalog/triple-set-tablet@1x.jpg, /img/catalog/triple-set-tablet@2x.jpg 2x" media="(max-width: 1149px)")
        img(src="/img/catalog/triple-set-desktop@1x.jpg" srcset="/img/catalog/triple-set-desktop@1x.jpg, /img/catalog/triple-set-desktop@2x.jpg 2x" alt="Вязаные корзинки")
      p.index-hit__price Цена: 990 руб.
      button.index-hit__order-button#order-button ЗАКАЗАТЬ
