.index-title
  .container
    h1.index-title__title-text Милые штуки ручной работы для&nbsp;дома
    .index-title__features
      a(href="#").index-title__feature
        span Предметы интерьера
        svg(width="40.219" height="62.411")
          use(xlink:href="#icon-interior")
      a(href="#").index-title__feature
        span Детские игрушки
        svg(width="60" height="59.62")
          use(xlink:href="#icon-toy")
