.index-contacts
  .container
    h2.index-contacts__title Контакты
    .index-contacts__icon
      svg(width="46.68" height="81.691")
        use(xlink:href="#icon-flag")
    .index-contacts__item
      p e-mail: 
      p.index-contacts__contact.index-contacts__contact--email
        a.index-contacts__email-link(href="#") info@mimimishkashop.ru
    .index-contacts__item
      p адрес:
      p.index-contacts__contact г. Санкт-Петербург, ул.&nbsp;Большая&nbsp;Конюшенная, д.&nbsp;19/8, офис&nbsp;101
    #map.index-contacts__map
    button.index-contacts__contact-us-button НАпишите нам
