body {
  font-family: OpenSans, Arial, sans-serif;
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;

  src: url(../fonts/opensans.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;

  src: url(../fonts/opensansbold.woff);
}
