@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_mixinis.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/popup.scss";

@import "./components/index-title.scss";
@import "./components/index-hit.scss";
@import "./components/index-about.scss";
@import "./components/index-reviews.scss";
@import "./components/index-contacts.scss";

* { box-sizing: border-box; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
picture {
  width: 100%;
  height: auto;
  line-height: 1em;
}

.visually-hidden { @include visually-hidden; }

.container { width: 100%; }

.hide { display: none; }

svg { color: black; }

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    margin: 0 auto;
  }
}
