footer.footer
  .container
    .footer__block.footer__logo
      a.footer__link(href="index.html")
        span.visually-hidden Mishka
        svg(width="101.615" height="34.056")
          use(xlink:href="#logo-footer")
    .footer__block.footer__socials
      a.footer__link(href="#")
        span.visually-hidden instagram
        svg(width="21.769" height="21.334")
          use(xlink:href="#icon-insta")
      a.footer__link(href="#")
        span.visually-hidden facebook
        svg(width="14.962" height="27.718")
          use(xlink:href="#icon-fb")
      a.footer__link(href="#")
        span.visually-hidden twitter
        svg(width="23.494" height="20.168")
          use(xlink:href="#icon-twitter")
    .footer__block.footer__htmlacademy
      a.footer__link(href="www.htmlacademy.ru")
        b.footer__text Разработано
        span.visually-hidden htmlacademy.ru
        svg(width="26.943" height="34.09")
          use(xlink:href="#logo-htmlacademy")
            
