.index-reviews
  .container
    h2.index-reviews__title Отзывы
    article.index-reviews__item.review
      p.review__text Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильнее, а также набирают больше лайков!
      p.review__author
        span.review__name Анастасия Красильникова
        a(href="#").review__link @misssssiskras
      .review__paginators
        button.review__paginator.review__paginator--left
          svg(width="50" height="26.003")
            use(xlink:href="#icon-left-arrow")
          span.visually-hidden &#8592;
        button.review__paginator.review__paginator--right
          svg(width="50" height="26.003")
            use(xlink:href="#icon-left-arrow")
          span.visually-hidden &#8594;
      button.review__write-button Написать
