doctype html

html
  head
    title Mishka
    meta(charset='utf-8')
    meta(name='author' content='Aleksey Trubitsyn')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href="styles/style.css" rel="stylesheet" type="text/css")
    script(src="scripts/app.min.js")
  body
    h1 Hello World!
